.hotelName {
  font-weight: 300;
  font-size: 17px;
}

.hotelDate {
  color: #878787;
  font-weight: 400;
  font-size: 14px;
}

.hotelPriceTitle {
  color: #878787;
  font-weight: 300;
  font-size: 11px;
  margin-right: 16px;
}

.hotelPriceValue {
  font-weight: 400;
  font-size: 17px;
}

.hotelPrice {

}
