.button {
  height: 50px;
  width: 100%;
  border: none;
  font-size: 16px;
  font-weight: 500;
  background: linear-gradient(104.34deg, #41522e -15.34%, #be8022 145.95%);
  border-radius: 4px;
  padding: 15px 0;
  color: white;
  &:hover {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.2)
      ),
      linear-gradient(104.34deg, #41522e -15.34%, #be8022 145.95%);
    cursor: pointer;
  }
  &:active {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      linear-gradient(104.34deg, #41522e -15.34%, #be8022 145.95%);
  }
}
