.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-radius: 16px;
  background-color: white;
  padding: 52px 32px 53px 32px;
  box-sizing: border-box;
  width: 360px;
  max-height: 906px;
  margin-bottom: 30px;

  h2 {
    font-weight: 500;
    font-size: 32px;
    margin: 0 20px 0 0;
  }

  h3 {
    font-weight: 400;
    font-size: 24px;
    color: #41522e;
    margin: 0;
  }
}

.city {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 255px;
}

.containerTitle {
  display: flex;
  align-items: center;
  max-width: 100%;
}

.containerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
}

.images {
  margin-bottom: 28px;
}

.favorite {
  font-size: 17px;
  font-weight: 300;
  color: rgba(66, 66, 66, 1);
  display: flex;
  margin-bottom: 20px;

  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.tabIcon {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.amountFavHotels {
  font-weight: 500;
  margin-right: 4px;
}

.favTitle {
  margin-right: 8px;
}

hr {
  border: none;
  border-top: 1px solid #e7e7e7;
  margin: 0;
}

.hotelCard {
  padding-right: 16px;
}

.empty {
  font-size: 17px;
  font-weight: 300;
  color: rgba(66, 66, 66, 1);
}

.hotelsContainer {
  max-height: 600px;
  overflow-y: scroll;
  padding-right: 14px;
  max-height: 517px;
}

.hotelsContainer::-webkit-scrollbar {
  width: 2px;
  background-color: #e7e7e7;
}

.hotelsContainer::-webkit-scrollbar-thumb {
  background-color: #41522e;
}
