.container {
  display: flex;
  overflow-y: scroll;
  margin-bottom: 11px;
  padding: 0;
  // height: 46%;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  img {
    width: 164px;
    height: 149px;
    margin-right: 3px;
  }
}
